{% extends "forms.html" %}

{% block content %}

<h1 style="color: #FFD447; text-align: center">ADD {{ topic_name }} BOOK</h1>

<form style="margin-left: 40%;
             margin-top: 15%"
      method="POST"
      action="">

    {% csrf_token %}
    <h3 style="margin-right: 30px; color: yellow;">Name: <input type="text" name="name" style="margin-left: 30px"></h3>
    <input type="hidden" name="topic" value="{{ topic }}">
    <input type="submit" value="Add book!" style="color: green; margin-top: 10px; margin-left: 72px">
  </form>

{% endblock %}
