{% extends "forms.html" %}

{% block content %}
<br>
<a href="/" style="color:yellow;
                   position: relevant;
                   margin-left: 60px;
                   margin-right: 60px">BACK</a>
<a href="/{{ topic }}/add_book"  style="color:yellow">ADD BOOK</a>

<h1 style="color: #FFD447; text-align: center">{{ name }}</h1>

<br>

{% if votes_not_empty  %}
{% if pic %}
    <h1>Plot has successfully created!</h1>
{% endif %}
<picture style="margin-left: 60px">
    <img src="/{{ pic }}">
</picture>
<br><br>

{% endif %}

{% if books_not_empty %}

    {% if request.user.id in voters %}
        <a href="/{{ topic}}/unvote"><input type="button" name="unvote" value="Unvote"></a>
    {% else %}

    <form method="post" action="" id="vote">
      {% csrf_token %}
      <fieldset form="vote">
        <legend>Choose your favorite book</legend>

        {% for book in books_list %}
        <input type="radio" id="book" name="choice" value="{{ book.id }}"/>
        <label for="book">{{ book.name }}</label><br>

        {% endfor %}

        <br>
        <input type="submit" name="vote" value="Vote for...">

    {% endif %}

{% endif %}

  </fieldset>
</form>
<br>

{% endblock %}
