<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best book</title>
</head>
<style>
    h1 {
    font-family: Ubuntu;
    font-size: 21px; font-style: normal;
    font-variant: normal; font-weight: 100;
    line-height: 23px;
    color: rgb(239, 41, 240)
    }

</style>
<body style="background-color: rgb(137, 189, 158);
            margin:0; padding:0;">

<div style="background-color: rgb(57, 22, 54)">

<picture>
{% load static %}
<a href="/"><img src="{% static 'files/logo.png' %}"
                 width="160" height="60"></a>
</picture>

<form role="search" method="GET" action="" style="position: absolute; bottom: 0px; left: 205px; top: 21px !important;">
    <input style="margin:0; padding:0"
           type="search" id="mySearch" name="q"
           placeholder="Search the  topic..." aria-label="Search through site content">
    <button>Search</button>
</form>

<a href="/add_topic"
   style="color: rgb(240, 201, 135);
          position: absolute; bottom: 0px;
          left: 525px; top: 21px !important;">Add topic</a>

<a href="/register" style="color: rgb(72, 256, 104); float: right;
                           margin-right: 30px;
                           margin-top: 22px">Register</a>

        {% if user.is_authenticated %}
            <a href="/logout" style="color: rgb(72, 256, 104); float: right;
                                   margin-right: 50px;
                                   margin-top: 22px">Log out</a>
        {% else %}
            <a href="/login" style="color: rgb(72, 256, 104); float: right;
                                   margin-right: 50px;
                                   margin-top: 22px">Log in</a>
        {% endif %}
    </div>

    {% for element in topic_list %}
        <a href="{{ element.id }}/election">
            <h1 style="color: rgb(139, 30, 63);
                                                   margin-left: 25px;
                                                   margin-top: 30px">{{ element.topic }}</h1></a>
    {% endfor %}

    {% block content %}
    {% endblock content%}

</body>
</html>

